@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    background-color: #003882;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.3rem;
    color: white;
}
.titleIcon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.svg-white {
    width: 2.5rem;
    fill: white;
}
.svg-sizeM {
    width: 1.6rem;
}
nav.navbar {
    padding: 0.5rem;
}
nav > ul {
    list-style: none;
    padding: 0;
    font-size: 1.4rem;
}
nav > ul li {
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav > ul li:nth-child(7){
    margin-top: 3rem;
}
.svg-black {
    fill: black;
}
.header {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    padding: 1rem 2.8rem;
    gap: 30px;
}
.bold {
    font-weight: bold;
}
.top-row {
    display: flex;
    gap: 6rem;
}
.seach-feature {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.search-form {
    width: 100%;
}
input[type="search"] {
    border: none;
    padding: 0.4rem;
    background-color: #e2e8f0;
    border-radius: 20px;
    height: 1.9rem;
    width: 100%;
}
.notification-avi-name-container {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
}
.avi-image {
    border-radius: 50%;
    width: 2.1rem;
    height: 2.1rem;
}
.img-resize {
    width: 4rem;
    height: 4rem;
}
.bottom-row {
    display: flex;
    gap: 20px;
    align-items: center;
}
.name-container {
    display: flex;
    flex-direction: column;
}
.btns-container {
    margin-left: auto;
    display: flex;
    gap: 20px;
}
.header-btn {
    color: white;
    font-size: 15px;
    border: none;
    width: 100px;
    border-radius: 20px;
    background-color: #003882;
    padding: 10px 15px;
}
.main-content {
    background-color: #e2e8f0;
}